.succes_content_wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(100px,1000px) 1fr;
    justify-items: center;
    grid-template-areas: ". succes .";

    //ONLY WHEN STYLING - REMOVE WHEN DONE FOR FINAL FORM
    background: white;

    .succes_con {
        grid-area: succes;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        .succesText {
            width: 60%;
        }
        button {
            background-color: #feb700;
            color: #323232;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            width: 175px;
            padding: 10px;
            border: 1px solid #feb700;
            border-radius: 5px;
            -webkit-transition: opacity .4s ease;
            transition: opacity .4s ease;
        
            &:hover {
                background: darken(#feb700, 10%);
                border-color: darken(#feb700, 10%);
            }
            }
    }
}

// RESPONSIVE 
@media only screen and (max-width: 415px) {
    .succes_content_wrapper {
        .succes_con {
            .succesText {
                width: 85%;
            }
            .formFooter_con {
                margin-top: 20%;
            }
        }
    }
}